
/* Full-width input fields */
input[type=text], input[type=email] {
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    display: inline-block !important; 
    border: 1px solid #ccc !important;
    box-sizing: border-box !important;
}

/* Set a style for all buttons */
button {
    background-color: #488AC7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 20%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 50%;
    color: white;
    margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Add padding to container elements */
.container {
    float:left;
    padding: 16px;
    width: 30%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.createEmp .createCt{
    display:none;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.right{
float:right;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 16px;
    font-family:Cursive;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;!important
    text-decoration: none;
    
}
.right {
    float: right;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    padding: 8px;
}

.topnav {
  overflow: hidden !important;
  background-color: #333 !important;
}

.topnav a {
  float: left ;
  display: block !important;
  color: #f2f2f2 !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
  font-size: 16px !important;
  font-family:Cursive !important;
}

.topnav a:hover {
  background-color: #ddd !important;
  color: black !important;
}
.right{
float:right !important;
}

table {

    float:center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 2px solid #2d004e;
    padding: 14px 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
th{
background-color: #dbcce6;
width:100%;
}
.table-container {
    float:left;
    padding: 16px 20px;
    width:180%
}

